// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.my-custom-modal-css .modal-wrapper {
    height: 75%;
    top: 25%;
    position: absolute; 
    display: block;  
 }

.segment-button-has-label {
    color: #86888f !important; // here, instead of "red" you can use sass variable if it was already defined
}

.segment-button-has-label.segment-button-checked {
    color: white !important;
}

.esri-popup__content {
    z-index: 10000 !important;
}


@font-face {
    font-family: 'Typeold';
    src:  url('assets/21d6eca2-bec8-4a45-8112-35d4f0f43120.woff2') format('woff2'),
        url('assets/51821ed1-a703-4278-824b-10fb307e2fe8.woff2') format('woff2'),
        url('assets/cc61343c-23a3-4b4a-baa4-8271b4d94d96.woff2') format('woff2')        
  }

* {
    font-family: "Typold W05",sans-serif;;
}
body {
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
    }